@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.test {
  position: absolute;
  will-change: clip-path;
  width: 100%;
  left: 0px;
  top: 0px;
  /* position: fixed; */
  /* overflow: hidden; */
  height: 100vh;
  visibility: visible;
  z-index: 50000;
  padding-top: 95px;
  /* background: red; */
}

.nav {
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}

.position-center {
  transform: translateY(-50%);
  top: 50%;
}

.input {
  @apply bg-transparent border-b-[1px] py-4 px-3 text-white;
}

.input:focus {
  @apply border-[1px] outline-none rounded-[10px];
}

.input::placeholder {
  color: #e4e4e4;
}
